<h1 id="tableLabel">Member Profile</h1>
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <div class="row pb-2 m-2">
            <div class="col col-4">  <label>First Name</label> </div> <div class="col w-60"> <input class="w-100" type="text" value="{{profile.firstName}}"/></div>
        </div>
        <div class="row pb-2 m-2">
            <div class="col col-4">  <label>Last Name</label> </div> <div class="col"> <input class="w-100" type="text" value="{{profile.lastName}}"/></div>
        </div>
        <div class="row pb-2 m-2">
            <div class="col col-4">  <label>Email Address</label> </div> <div class="col"> <input class="w-100" type="text" value="{{profile.emailAddress}}"/></div>
        </div>
        <div class="row pb-2 m-2">
            <div class="col col-4">  <label>Mobile Number</label> </div> <div class="col"> <input class="w-100" type="text" value="{{profile.mobileNumber}}"/></div>
        </div>
        <div class="row pb-2 m-2">
            <div class="col col-4">  <label>Address</label> </div> <div class="col"> <textarea rows="3" cols="60" name="text" class="w-100">{{profile.address}}</textarea></div>
        </div>
        <div class="row pb-2 m-2">
            <div class="col col-4">  <label>City</label> </div> <div class="col"> <input class="w-100" type="text" value="{{profile.city}}"/></div>
        </div>
        <div class="row pb-2 m-2">
            <div class="col col-4">  <label>State</label> </div> <div class="col"> <input class="w-100" type="text" value="{{profile.state}}"/></div>
        </div>
        <div class="row pb-2 m-2">
            <div class="col col-4">  <label>Postal</label> </div> <div class="col"> <input class="w-100" type="text" value="{{profile.postal}}"/></div>
        </div>
        <div class="row pb-2 m-2">
            <button class="btn btn-primary">Update</button>
        </div>
    </div>
</div>